<div class="ds-component ds-component-price justify-{{align}} grow-0">
  <h3 style="color:{{fontColor}}; display:block; font-size:{{font_size}}em;"
    class="weight-{{fontWeight}}">
    {% render 'price', product: product %}
  </h3>
</div>