<div class="justify-{{align}} grow-0">
    <h3 style="color:{{fontColor}}; display:block; font-size:{{fontSize}}em;"
      class="ds-component-price weight-{{fontWeight}}">
      {% render 'price', product: product %}
    </h3>
  </div>