    {%- liquid
      assign banner_text = section.settings.banner_text 
      assign content_image = section.settings.content_image
    %}

<div id="{{section.settings.heading}}"
   style="background-image: url({{ content_image |  img_url: 'original' }});
   background-repeat: no-repeat;
   background-size: 100%;">
    <div class="no-padding"
        style="align-self: {{section.settings.vertical-align-content}}; height: 45vh;">

  
      {% render "ds-component-paragraph", 
         fontColor: section.settings.font_color,
         fontSize: section.settings.font_size,
         text: section.settings.banner_text
      %}

    </div>
</div>

{% schema %}
{
    "name":"Dropsmart Banner",
    "class":"lp-content",
    "presets": [
      {
        "name": "Dropsmart - Banner"
      }
    ],
    "settings":[
       {
          "id":"heading",
          "type":"text",
          "label":"Identificação da Seção"
       },
       {
         "type": "paragraph",
         "content": "Não utilize espaços! A identificação da seção tem como objetivo utilizar botões de ancoragem para a seção. Ex: Para o caso da identifação da seção ser 'novidades', no campo link do Botão, inserir '#novidades'"
       },
       {
         "type": "header",
         "content": "Configurações de Fundo"
       },
       {
          "type":"color",
          "id":"background-color",
          "label":"Cor de Fundo",
          "default":"#FFFFFF"
       },
      {
         "type":"header",
         "content":"Imagem em desktop"
      },
      {
         "type": "image_picker",
         "id": "content_image",
         "label": "Imagem"
      },
      {
         "type":"header",
         "content":"Imagem em dispositivo móvel"
      },
      {
         "type": "image_picker",
         "id": "mobile_content_image",
         "label": "Imagem"
      },
      {
         "type": "textarea",
         "id": "banner_text",
         "label": "Texto"
      }
    ]
 }
{% endschema %}

{% stylesheet %} {% endstylesheet %}

{% javascript %} {% endjavascript %}