.banner-elements {
    margin-left: 4em;
    margin-top: 2em;
}

.banner-cta-button {
    height: fit-content;
    justify-content: space-between;
    background: green;
    max-width: 40%;
    display: flex;
} 