/* DS Component Feature */

.Container .ds-component.ds-component-feature {
    margin-bottom: 0;
}

.ds-component-feature {
    flex: 1;
}

.ds-component-feature.flex-row {
    min-width: 100%;
    max-width: 70%;
}

.ds-component-feature.flex-column {
    max-width: 40%;
}

@media (max-width: 768px) {
    .ds-component-feature.flex-column {
        max-width: 60%;
    }
}

.component-feature {
    flex: 1;
    align-self: center;
    margin-bottom: 0rem !important;
}

.component-feature.full-width {
    width: calc(100% - 3rem);
}

.component-feature.auto-width {
    width: fit-content;
}

.ds-component-feature .ds-h3 {
    padding: 0 2rem;
}


/* Lists flex-row */

.flex-row.component-feature {
    align-self: flex-start;
    padding: 1rem 1rem !important;
}

.component-feature.flex-row .image-wrapper img {
    margin-bottom: 1rem !important;
}

@media (max-width: 768px) {
    .features.flex-row .component-feature.mobile-flex-column {
        align-self: flex-start;
    }
}

@media (max-width: 768px) {
    .features.flex-row .component-feature {
        margin: 0 !important;
        margin-bottom: 1.5rem !important;
    }
}


/* Cards flex-column */

.flex-column.component-feature {
    align-self: flex-start;
    padding: 3rem 3rem !important;
    margin: 0 1.5rem;
}

.flex-column.component-feature.shadow {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1), 0px 4px 8px 0px rgba(0, 0, 0, 0.15), 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
}

.flex-column.component-feature .image-wrapper img {
    margin-bottom: 2rem !important;
}

@media (max-width: 768px) {
    .flex-column.component-feature.mobile-flex-row {
        align-self: center;
    }
    .flex-column.component-feature {
        margin: 0 !important;
        margin-bottom: 1.5rem !important;
    }
}


/* Mobile adjustments */

@media (max-width: 768px) {
    .component-feature {
        margin: 0;
    }
    .component-feature:last-child {
        margin-bottom: 0;
    }
    .ds-component-feature {
        min-width: 100%;
    }
    .component-feature {
        min-width: 100%;
    }
    .component-feature.flex-row {
        min-width: auto;
    }
}

.ds-lp-content .features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .flex-row .component-feature {
        align-self: center;
        margin: 0 1rem 1.5rem;
        padding: 3rem 3rem !important;
        margin-bottom: 1.5rem !important;
    }
}

.component-feature.shadow {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1), 0px 4px 8px 0px rgba(0, 0, 0, 0.15), 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
    .ds-lp-content .features {
        flex-direction: column;
    }
}