.ds-component-price .price {
    color: inherit !important;
    font-size: inherit !important;
}

.ds-component-price {
    margin-bottom: 2rem;
}

.ds-component-price.line-through-price {
    margin-bottom: .75rem;
}

.ds-component-price.line-through-price h3 {
    text-decoration: line-through;
}