.ds-component-product-card {
    padding: 0 1.5rem;
    margin-bottom: 3rem !important;
}

@media (max-width: 768px) {
    .ds-component-product-card {
        padding: 0;
    }
}

.ds-component-product-card .shadow {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1), 0px 4px 8px 0px rgba(0, 0, 0, 0.01), 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
}

.ds-component-product-card,
.ds-component-product-card img {
    width: 100%;
}

.ds-component-product-card .component-product-card {
    padding: 3rem;
}

.ds-component-product-card .emphasis {
    position: absolute;
    width: max-content;
    top: 3rem;
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    padding: 0.25rem 0.75rem;
    letter-spacing: 0.15rem;
}

@media (max-width: 768px) {
    main#MainContent .ds-component-product-card .component-cta {
        padding: 0.5rem 3rem;
    }
}
