main#MainContent .ds-lp-content {
    height: 100%;
}

main#MainContent .ds-lp-content .content {
    padding: 0;
    margin: 0;
}

main#MainContent .ds-lp-content .paragraph p {
    color: inherit !important;
}

figure {
    margin: 0;
}