main#MainContent {
    /* SIZES */
    /* END SIZES */
}

.container-full {
    max-width: 1280px;
    margin: auto;
}

.container-medium {
    max-width: 980px;
    margin: auto;
}

.container-small {
    max-width: 720px;
    margin: auto;
}

.container-x-small {
    max-width: 480px;
    margin: auto;
}

.weight-300 {
    font-weight: 300 !important;
}

.weight-400 {
    font-weight: 400 !important;
}

.weight-600 {
    font-weight: 800 !important;
}

.weight-800 {
    font-weight: 800 !important;
}

.weight-900 {
    font-weight: 900 !important;
}


/* DEFINE PADDING IN CONTAINER */

.Container {
    padding-left: 5rem;
    padding-right: 5rem;
}


/* DEFINE PADDING IN CONTAINER MOBILE*/

@media (max-width: 768px) {
    .Container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.Container * {
    margin-top: 0;
    margin-bottom: 0;
}

.Container .content {
    padding: 0;
    margin: 0;
    width: 100%;
}


/* Elements Spacing */

.Container h1,
.Container h2,
.Container h3,
.Container h4 {
    line-height: 1;
}

.ds-component,
.ds-block {
    margin-bottom: 3rem;
}

.Container .ds-component .ds-h3 {
    margin-bottom: 1.5rem;
}

.Container .ds-component .ds-star-rating {
    margin-bottom: 2rem;
}

.Container .ds-component p {
    line-height: 160%;
}

.Container .ds-component:last-child,
.Container .ds-block:last-child {
    margin-bottom: 0 !important;
}


/* Section Spacing */

.space-around-regular {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

@media (max-width: 768px) {
    .space-around-regular {
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
}

.space-around-small {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

@media (max-width: 768px) {
    .space-around-small {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.space-around-large {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
}

@media (max-width: 768px) {
    .space-around-large {
        padding-top: 8rem !important;
        padding-bottom: 8rem !important;
    }
}


/* Paddings */

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding {
    margin-bottom: -1rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0;
}